body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 20em;
}

.page-link-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.field-validation-error {color: #f00;}
.field-validation-valid { display: none;}
.input-validation-error { border: 1px solid #f00; background-color:
#fee; }
.validation-summary-errors { font-weight: bold; color: #f00;}
.validation-summary-valid { display: none;}
